.content {
    max-width: 1000px;
    margin: 0 auto;
}

.content__ttl {
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

.confirm-table {
    width: 80%;
    margin: 0 auto;
}

.confirm-table__inner {
    width: 100%;
}
.confirm-table__header {
    padding: 15px;
    width: 30%;
    border: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

input {
    outline: none;
}

.confirm-table__text {
    padding: 15px;
    border: 1px solid #ddd;
}

.confirm-table__row:last-child .confirm-table__inner,
.confirm-table__row:last-child .confirm-table-text {
    border-bottom-width: 0;
}

.confirm-btn {
    border-radius: 3px;
    margin: 32px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border: none;
    cursor: pointer;
}