.content {
    max-width: 1000px;
    margin: 0 auto;
}

.content__ttl {
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

.form {
    width: 80%;
    margin: 20px auto;
}

.form-item {
    padding: 24px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-item-label {
    width: 40%;
    font-weight: bold;
    font-size: 12px;
}

.form-label {
    display: inline;
    font-weight: lighter;
}

.form-label-required {
    border-radius: 3px;
    margin-left: 10px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #f0efef;
    color: #827f7f;
    font-size: 12px;
}

.form-item-input {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 40px;
    padding: auto;
    height: 30px;
    width: 100%;
    font-size: 12px;
}

.form-item-textarea {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 40px;
    padding: 0 10px;
    height: 150px;
    width: 100%;
    font-size: 12px;
}

.form-btn {
    border-radius: 3px;
    margin: 32px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.form__error {
    color: red;
    font-size: small;
    font-weight: bold;
    /* display: block; */
}

/* .form-text {
    display: block;
} */